{% extends 'www/base.html' %}
{% block content %}
<div class="container-fluid">

    <table class="table table-hover table-sm">
        <thead>
        <tr>
            <th scope="col"># TaxId</th>
            <th scope="col"># Rank</th>
            <th scope="col"># Taxonomy/Division</th>
            <th class="d-none d-sm-table-cell"><span class="badge badge-info">S</span></th>
            <th class="d-none d-sm-table-cell"><span class="badge badge-info">G</span></th>
            <th class="d-none d-sm-table-cell"><span class="badge badge-warning">F</span></th>
            <th class="d-none d-sm-table-cell"><span class="badge badge-danger">O</span></th>
            <th class="d-none d-sm-table-cell"><span class="badge badge-success">C</span></th>
            <th class="d-none d-sm-table-cell"><span class="badge badge-dark">P</span></th>
            <th class="d-none d-sm-table-cell"><span class="badge badge-secondary">K</span></th>
            <th class="d-none d-sm-table-cell"><span class="badge badge-secondary">SK</span></th>
            <th></th>

        </tr>
        </thead>
        <tbody>
        {% for taxonomy in object_list %}
            <tr>
                <td><a href="">{{ taxonomy.taxid }}</a></td>
                <td>{{ taxonomy.rank }}</td>
                <td><span class="text-warning">{{ taxonomy.name }}</span>
                    <span class="badge badge-light">
                        {{ taxonomy.division.long }}
                    </span>
                </td>
                <td class="d-none d-sm-table-cell">{% if taxonomy.species %}<i class="fas fa-check"></i>{% endif %}</td>
                <td class="d-none d-sm-table-cell">{% if taxonomy.genus %}<i class="fas fa-check"></i>{% endif %}</td>
                <td class="d-none d-sm-table-cell">{% if taxonomy.family %}<i class="fas fa-check"></i>{% endif %}</td>
                <td class="d-none d-sm-table-cell">{% if taxonomy.order %}<i class="fas fa-check"></i>{% endif %}</td>
                <td class="d-none d-sm-table-cell">{% if taxonomy.klass %}<i class="fas fa-check"></i>{% endif %}</td>
                <td class="d-none d-sm-table-cell">{% if taxonomy.phylum %}<i class="fas fa-check"></i>{% endif %}</td>
                <td class="d-none d-sm-table-cell">{% if taxonomy.kingdom %}<i class="fas fa-check"></i>{% endif %}</td>
                <td class="d-none d-sm-table-cell">{% if taxonomy.superkingdom %}<i class="fas fa-check"></i>{% endif %}</td>

                <td>
                    <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#taxid_{{ taxonomy.taxid }}">
                        Lineage (full)
                    </button>

                    <div class="modal fade" id="taxid_{{ taxonomy.taxid }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel"><i>Lineage for</i> <b>{{ taxonomy.name }}</b></h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <table class="table table-striped">
                                        {% for taxonomy in taxonomy.lineage %}
                                            <tr>
                                                <td>{{ taxonomy.taxid }}</td>
                                                <td>{{ taxonomy.rank }}</td>
                                                <td>{{ taxonomy.name }}</td>
                                            </tr>
                                        {% endfor %}
                                    </table>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>

                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="row justify-content-center">
        <div class="col-auto d-none d-xl-block">
            {% include "taxonomy/pagination_snippet.html" with offset=8 %}
        </div>
        <div class="col-auto d-none d-lg-block d-xl-none">
            {% include "taxonomy/pagination_snippet.html" with offset=6 %}
        </div>
        <div class="col-auto d-none d-md-block d-lg-none">
            {% include "taxonomy/pagination_snippet.html" with offset=4 %}
        </div>
        <div class="col-auto d-none d-sm-block d-md-none">
            {% include "taxonomy/pagination_snippet.html" with offset=2 %}
        </div>
        <div class="col-auto d-block d-sm-none">
            {% include "taxonomy/pagination_snippet.html" with offset=1 %}
        </div>
    </div>
</div>
{% endblock %}
